{
    "DEBUG": true,
    "ELASTIC_HOSTS": ["localhost:9200"],
    "LOG_LEVEL": "info",
    "LOG_FILE": "/soft/applications-2.0/warehouse_management/var/es_reload.log",
    "PID_FILE": "/soft/applications-2.0/warehouse_management/var/es_reload.pid"
}
